* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url("../images/cave.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 97vh;
  overflow: hidden;
}


/*logg inn screen*/
#logg-inn {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 200px;
}
#logg-inn > input,
select,
button {
  margin: 20px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  background-color: rgba(240, 238, 238, 0.752);
  border: 2px solid grey;
}
/*logg inn screen*/

/*common classes*/
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
/*common classes*/
